body {
  margin:0px;
  background-image:url('../../images/本文档介绍/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:295px 120px;
  position:relative;
  left:-0px;
  width:1349px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10023 {
  position:absolute;
  left:209px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10023_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10023.mouseOver {
}
#u10024 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u10025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10025 {
  position:absolute;
  left:309px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10025_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10025.mouseOver {
}
#u10026 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u10027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10027 {
  position:absolute;
  left:409px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10027_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10027.mouseOver {
}
#u10028 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u10030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u10030 {
  position:absolute;
  left:1249px;
  top:21px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u10031 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10033 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u10033_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10033.mouseOver {
}
#u10034 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u10035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10035 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u10035_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10035.mouseOver {
}
#u10036 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u10037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10037 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u10037_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10037.mouseOver {
}
#u10038 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u10039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10039 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u10039_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10039.mouseOver {
}
#u10040 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u10041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10041 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u10042 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u10043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10043 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10044 {
  position:absolute;
  left:0px;
  top:26px;
  width:200px;
  word-wrap:break-word;
}
#u10045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u10045 {
  position:absolute;
  left:840px;
  top:71px;
  width:20px;
  height:10px;
}
#u10046 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10047 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u10047_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u10047.mouseOver {
}
#u10048 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u10049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u10049 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u10049_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u10049.mouseOver {
}
#u10050 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u10051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
}
#u10051 {
  position:absolute;
  left:916px;
  top:18px;
  width:196px;
  height:45px;
}
#u10052 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  text-align:center;
}
#u10053 {
  position:absolute;
  left:100px;
  top:150px;
  width:1149px;
  height:40px;
  font-size:25px;
  text-align:center;
}
#u10054 {
  position:absolute;
  left:0px;
  top:2px;
  width:1149px;
  word-wrap:break-word;
}
#u10055 {
  position:absolute;
  left:100px;
  top:240px;
  width:1154px;
  height:110px;
}
#u10056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10056 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10057 {
  position:absolute;
  left:2px;
  top:15px;
  width:187px;
  word-wrap:break-word;
}
#u10058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10058 {
  position:absolute;
  left:191px;
  top:0px;
  width:191px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10059 {
  position:absolute;
  left:2px;
  top:15px;
  width:187px;
  word-wrap:break-word;
}
#u10060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10060 {
  position:absolute;
  left:382px;
  top:0px;
  width:191px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10061 {
  position:absolute;
  left:2px;
  top:15px;
  width:187px;
  word-wrap:break-word;
}
#u10062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10062 {
  position:absolute;
  left:573px;
  top:0px;
  width:192px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10063 {
  position:absolute;
  left:2px;
  top:15px;
  width:188px;
  word-wrap:break-word;
}
#u10064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10064 {
  position:absolute;
  left:765px;
  top:0px;
  width:192px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10065 {
  position:absolute;
  left:2px;
  top:15px;
  width:188px;
  word-wrap:break-word;
}
#u10066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10066 {
  position:absolute;
  left:957px;
  top:0px;
  width:192px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10067 {
  position:absolute;
  left:2px;
  top:15px;
  width:188px;
  word-wrap:break-word;
}
#u10068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10068 {
  position:absolute;
  left:0px;
  top:35px;
  width:191px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10069 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u10070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10070 {
  position:absolute;
  left:191px;
  top:35px;
  width:191px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10071 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u10072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10072 {
  position:absolute;
  left:382px;
  top:35px;
  width:191px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10073 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u10074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10074 {
  position:absolute;
  left:573px;
  top:35px;
  width:192px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10075 {
  position:absolute;
  left:2px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10076 {
  position:absolute;
  left:765px;
  top:35px;
  width:192px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10077 {
  position:absolute;
  left:2px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10078 {
  position:absolute;
  left:957px;
  top:35px;
  width:192px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10079 {
  position:absolute;
  left:2px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10080 {
  position:absolute;
  left:0px;
  top:70px;
  width:191px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10081 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u10082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10082 {
  position:absolute;
  left:191px;
  top:70px;
  width:191px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10083 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u10084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u10084 {
  position:absolute;
  left:382px;
  top:70px;
  width:191px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10085 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u10086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10086 {
  position:absolute;
  left:573px;
  top:70px;
  width:192px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10087 {
  position:absolute;
  left:2px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10088 {
  position:absolute;
  left:765px;
  top:70px;
  width:192px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10089 {
  position:absolute;
  left:2px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:35px;
}
#u10090 {
  position:absolute;
  left:957px;
  top:70px;
  width:192px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10091 {
  position:absolute;
  left:2px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
